# Terraform module code
/modules/ @codreum/codev

# Examples
/example/ @codreum/codev

# CI / workflows
.github/workflows/ @codreum/codev

# Docs (optional)
/modules/README.md @codreum/codev
README.md @codreum/codev
CONTRIBUTING.md @codreum/codev
