name: ClusterFuzzLite batch fuzzing

on:
  schedule:
    - cron: "0 */6 * * *"  # every 6 hours

permissions:
  contents: read
  security-events: write

jobs:
  Batch:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sanitizer: [address]

    steps:
      - name: Build fuzzers (${{ matrix.sanitizer }})
        id: build
        uses: google/clusterfuzzlite/actions/build_fuzzers@v1
        with:
          language: go
          sanitizer: ${{ matrix.sanitizer }}

      - name: Run fuzzers (${{ matrix.sanitizer }})
        id: run
        uses: google/clusterfuzzlite/actions/run_fuzzers@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          mode: batch
          sanitizer: ${{ matrix.sanitizer }}
          fuzz-seconds: 3600
          output-sarif: true
