name: CI - TFLint

on:
  push:
    branches: ["**"]
  pull_request:

permissions:
  contents: read

jobs:
  tflint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@6e87008f9dd1fe3e34e66aca6c97b4a69f72a7f4
        with:
          tflint_version: v0.55.0

      - name: Init TFLint plugins
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: tflint --init

      - name: Run TFLint (repo)
        run: tflint
