name: CI - tfsec

on:
  push:
    branches: ["**"]
  pull_request:

permissions:
  contents: read

jobs:
  tfsec:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run tfsec
        uses: aquasecurity/tfsec-action@b466648d6e39e7c75324f25d83891162a721f2d6
        with:
          soft_fail: false
